@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-playfair-display: "Playfair Display", serif;
}

@keyframes scroll-horizontal {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll-horizontal {
  animation: scroll-horizontal 30s linear infinite;
  display: flex;
  gap: 2rem;
  width: max-content;
}
